<a href='/locations/new'>Add location</a>
<a href='/todos/new'>Add To Do list</a>

<div class="container-fluid">
  <div class="row">
    <% if @locations.any? %>
      <% @locations.each do |location| %>
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Weather for <%= location.name %></h3>
            </div>
            <div class="panel-body">
              <% barometer = Barometer.new(location.name) %>
              <% weather = barometer.measure %>
              <p>Current Temp: <%= weather.current.temperature.c %></p>
              <p>Tomorrow High: <%= weather.tomorrow.high.c %></p>
              <p>Tomorrow Low: <%= weather.tomorrow.low.c %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% if @todos.any? %>
      <% @todos.each do |todo| %>
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><%= todo.name %></h3>
            </div>
            <div class="panel-body">
              <% if @tasks.any? %>
                <% @tasks.each do |task| %>
                <ul>
                  <li><%= task.task %></li>
                </ul>
                <% end %>
              <% end %>
              <%= link_to "Add task", new_todo_task_path(todo) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Cats</h3>
        </div>
        <div class="panel-body">
          <div class='cats'>
            <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
