<a href='/locations/new'>Add location</a>
<a href='/todos/new'>Add To Do list</a>

<div class="container-fluid">
  <div class="row">
    <% if @locations.any? %>
      <% @locations.each do |location| %>
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Weather for <%= location.name %></h3>
            </div>
            <div class="panel-body">
              <% barometer = Barometer.new(location.name) %>
              <% weather = barometer.measure %>
              <p>Current Temp: <%= weather.current.temperature.c %></p>
              <p>Tomorrow High: <%= weather.tomorrow.high.c %></p>
              <p>Tomorrow Low: <%= weather.tomorrow.low.c %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% if @todos.any? %>
      <% @todos.each do |todo| %>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= todo.name %></h3>
            </div>
            <div class="panel-body">

            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
